XSLT Mapping Demo/OutoutOrders.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="OrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:string"/>
        <xs:element name="CustomerName" type="xs:string"/>
        <xs:element name="CustomerEmail" type="xs:string"/>
        <xs:element name="OrderLines">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Line" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductName" type="xs:string"/>
                    <xs:element name="Qty" type="xs:int"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
