YT Groovy Course/EmployeeManagerMapping/EmployeeData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="Employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EMP_ID" type="xs:int"/>
                            <xs:element name="EMP_NAME" type="xs:string"/>
                            <xs:element name="MGR_ID" type="xs:int" minOccurs="0"/>
                            <xs:element name="ROLE" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
