YT Groovy Course/EmployeeManagerMapping/EmployeeReporting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="EmployeeReportingLines">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EmployeeLine" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EMP_ID" type="xs:int"/>
                            <xs:element name="EMP_NAME" type="xs:string"/>

                            <xs:element name="REPORTING_LINE" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="manager"
                                                    type="xs:int"
                                                    minOccurs="0"
                                                    maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="CEO" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
